---
import { getEntryBySlug } from "astro:content";
import BlogPost from "../../layouts/BlogPost.astro";

const post = await getEntryBySlug("blog", Astro.params.slug || "");

const { Content } = (await post?.render()) || { Content: null };
---

<BlogPost
	{...post?.data || {
		description: "Sorry, this post does not exist",
		title: "404 - Not Found",
		pubDate: new Date(),
	}}
>
	{Content && <>
		<Content />
		<p>Thank you for reading! If you have any questions or suggestions for improvements, comment below.</p>
		<script src="https://giscus.app/client.js"
        data-repo="jak2k/website"
        data-repo-id="R_kgDOJrCLDA"
        data-category="Comments"
        data-category-id="DIC_kwDOJrCLDM4CW_j9"
        data-mapping="specific"
        data-term={Astro.params.slug ||"Not Found"}
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script></>}
</BlogPost>
