---
import { db, Status } from "astro:db";
import Base from "../../layouts/Base.astro";

export const prerender = false;

if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const text = formData.get("text");
    const timestamp = new Date();
    const replyTo = formData.get("replyTo");
    const likeOf = formData.get("likeOf");
    const repostOf = formData.get("repostOf");

    if (
        typeof text === "string" &&
        typeof replyTo === "string" &&
        typeof likeOf === "string" &&
        typeof repostOf === "string"
    ) {
        await db
            .insert(Status)
            .values({ text, timestamp, replyTo, likeOf, repostOf });
    }
}
---

<Base title="Create Post" description="Create a new post">
    <form method="POST" style="display: grid">
        <label for="text">Text</label>
        <textarea id="text" name="text" text-black></textarea>

        <label for="replyTo">Reply To</label>
        <input id="replyTo" name="replyTo" type="text" text-black />

        <label for="likeOf">Like Of</label>
        <input id="likeOf" name="likeOf" type="text" text-black />

        <label for="repostOf">Repost Of</label>
        <input id="repostOf" name="repostOf" type="text" text-black />

        <button type="submit">Submit</button>
    </form>
</Base>
