---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = await getCollection("blog");

const tags = new Set();

posts.forEach((post) => {
  post.data.tags?.forEach((tag) => {
    tags.add(tag);
  });
});
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      ul {
        list-style-type: none;
        padding: unset;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0.25rem;
      }
      ul li {
        display: flex;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <ul>
          {
            [...tags].map(
              (tag) => (
                <li>
                  <a href={`/tags/${tag}/`}>#{tag}</a>
                </li>
              ),
              tags
            )
          }
        </ul>
      </section>
    </main>
    <Footer />
  </body>
</html>
