---
const today = new Date();
---

<footer>
	<div>
		<a href="https://mastodontech.de/@jak2k" target="_blank">Mastodon</a>
		<a href="https://github.com/jak2k" target="_blank">GitHub</a>
		<a href="https://matrix.to/#/@jak2k:matrix.org">Matrix</a>
	</div>
	<div>I ❤️ Open Source & Privacy</div>
	<div>
		<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
			><img
				alt="Creative Commons License"
				style="border-width:0"
				src="https://i.creativecommons.org/l/by/4.0/88x31.png"
			/></a
		><br />This work is licensed under a <a
			rel="license"
			href="http://creativecommons.org/licenses/by/4.0/"
			>Creative Commons Attribution 4.0 International License</a
		>.
	</div>
	<style>
		footer {
			padding: 2em;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			gap: 1em;
		}
	</style>
</footer>
