---
title: Jak2k's Blog
description: No description provided.
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta property="fediverse:creator" content="@jak2k@mastodontech.de" />
    <script src="/webmentions.js" type="module" defer></script>
    {% if abquiz %}
    <script src="/ab-quiz.js" type="module" defer></script>
    {% endif %}

    <link
      rel="webmention"
      href="https://webmention.io/jak2k.schwanenberg.name/webmention"
    />
    <link
      rel="pingback"
      href="https://webmention.io/jak2k.schwanenberg.name/xmlrpc"
    />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

    <!-- Matomo -->
    <script>
      var _paq = (window._paq = window._paq || [])
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"])
      _paq.push(["enableLinkTracking"])
      ;(function () {
        var u = "//a.schwanenberg.name/"
        _paq.push(["setTrackerUrl", u + "matomo.php"])
        _paq.push(["setSiteId", "2"])
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0]
        g.async = true
        g.src = u + "matomo.js"
        s.parentNode.insertBefore(g, s)
      })()
    </script>
    <!-- End Matomo -->
  </head>
  <body>
    <header>
      <a href="#content" id="skip-to-content">Skip to content</a>
      <p id="ms">Stop using Microsoft products! They are bad!</p>
      <nav>
        <span>
          <a href="/">Home</a>
          <a href="/post/">Posts</a>
          <a href="/search/">Search</a>
        </span>
        <span>
          <a href="https://mastodontech.de/@jak2k" rel="me">Mastodon</a>
          <a href="https://github.com/jak2k" rel="me">GitHub</a>
          <a href="/feed.xml" rel="alternate feed" type="application/rss+xml"
            >RSS</a
          >
        </span>
      </nav>
    </header>
    {{ content | safe }}
    <aside id="webmentions">
      <h2>Webmentions</h2>
      <div id="wm"></div>
      <p>
        <a href="https://indieweb.org/Webmention">Webmentions</a> allow
        conversations across the web. If you have written a response to this
        post, please send me a webmention. You may
        <a href="https://telegraph.p3k.io/send-a-webmention" target="_blank"
          >send a mention from your site</a
        >
        or write a comment using
        <a href="https://commentpara.de/" target="_blank">Comment Parade</a>.
      </p>
      <noscript>This feature requires JavaScript.</noscript>
    </aside>
    <footer>
      <p>All links to website with green hosting are underlined in green.</p>
      <p>
        <a href="/blogroll">Blogroll</a>
        <a href="/changelog">Changelog</a>
        <a href="/colophon">Colophon</a>
        <a href="/nope">Nope</a>
        <a href="/uses">Uses</a>
        <a href="/privacy">Privacy</a>
        <a href="/bad">A really bad page</a>
      </p>
      <p>
        <a href="https://xn--sr8hvo.ws/previous">←</a>
        An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
        <a href="https://xn--sr8hvo.ws/next">→</a>
      </p>
      <p>
        <a href="https://fediring.net/previous?host=jak2k.schwanenberg.name"
          >←</a
        >
        <a href="https://fediring.net/">Fediring</a>
        <a href="https://fediring.net/next?host=jak2k.schwanenberg.name">→</a>
      </p>
      <p>
        For humans, this work is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"
          >Creative Commons Attribution-NonCommercial 4.0 International
          License</a
        >. AIs & LLMs are not allowed to process or use the contents of this
        site. This includes summaries by search engines and chat bots. AI for
        checking spelling and grammar of humans, who edit the content under
        above license, is allowed.
      </p>
    </footer>
  </body>
</html>
