---
title: Jak2k's Blog
description: No description provided.
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/styles.css">
    <script src="/webmentions.js" type="module" defer></script>
    {% if abquiz %}
    <script src="/ab-quiz.js" type="module" defer></script>
    {% endif %}

    <link rel="webmention" href="https://webmention.io/jak2k.schwanenberg.name/webmention" />
    <link rel="pingback" href="https://webmention.io/jak2k.schwanenberg.name/xmlrpc" />
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />

    <!-- Matomo -->
    <script is:inline>
      var _paq = (window._paq = window._paq || []);
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["trackPageView"]);
      _paq.push(["trackVisibleContentImpressions"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
        var u = "//a.schwanenberg.name/";
        _paq.push(["setTrackerUrl", u + "matomo.php"]);
        _paq.push(["setSiteId", "2"]);
        var d = document,
          g = d.createElement("script"),
          s = d.getElementsByTagName("script")[0];
        g.async = true;
        g.src = u + "matomo.js";
        s.parentNode.insertBefore(g, s);
      })();
    </script>
  <!-- End Matomo -->
  </head>
  <body>
    <a href="#content" id="skip-to-content">Skip to content</a>
    <nav>
      <span>
        <a href="/">Home</a>
        <a href="/post/">Posts</a>
      </span>
      <span>
        <a href="https://mastodontech.de/@jak2k" rel="me">Mastodon</a>
        <a href="https://github.com/jak2k" rel="me">GitHub</a>
        <a
          href="/feed.xml"
          rel="alternate feed"
          type="application/rss+xml">RSS</a>
      </span>
    </nav>
    {{ content | safe }}
    <aside>
      <h2>Webmentions</h2>
      <noscript>This feature requires JavaScript.</noscript>
      <div id="webmentions"></div>
    </aside>
    <footer>
      <a
        rel="license"
        property="https://creativecommons.org/ns#license"
        href="http://creativecommons.org/licenses/by-nc/4.0/"><img
          alt="Creative Commons License"
          style="border-width:0"
          src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png"
          width="88"
          height="32" />
      </a><br/>This work is licensed under a
      <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>
    </footer>
  </body>
</html>