---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";

const posts = await getCollection("posts");

const tags = posts.reduce((acc, post) => {
  post.data.tags.forEach((tag) => {
    if (!acc.includes(tag)) {
      acc.push(tag);
    }
  });
  return acc;
}, []);
---

<Base title="Tags" description="All tags by Jak2k">
  <ul slot="additional">
    {
      tags.map((tag) => (
        <li
          max-w-80ch
          m-x-auto
          p-2.5
          m-y-2.5
          border-1
          border-gray-300
          dark:border-gray-700
          rounded-2.5
        >
          <a
            href={`/tag/${tag.slug || tag}`}
            transition:name={`lnk-/tag/${tag.slug || tag}`}
          >
            #{tag.slug || tag} {tag.slug ? "" : " (No additional info)"}
          </a>
        </li>
      ))
    }
  </ul>
</Base>
