---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Jak2k",
    "subtitle": "My tech blog",
    "language": "en",
    "url": "https://jak2k.schwanenberg.name",
    "author": {
      "name": "Jak2k"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/feed.xsl" type="text/xsl"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ metadata.title }}</title>
    <summary>{{ metadata.subtitle }}</summary>
    <link>{{ metadata.url }}</link>
    <id>jak2k.schwanenberg.name</id>
    {%- for post in collections.post | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(metadata.url) %}
    <entry>
      <title>{{ post.data.title }}</title>
      <link href="{{ absolutePostUrl }}" />
      <content type="html">
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}

        <p>
          Thanks for reading from your feed reader! If you have any questions or comments, comment using webmention (more infos on the website). I'd love to hear from you! You may also fix errors or suggest changes in the <a href="https://github.com/jak2k/website">GitHub repo</a>.
        </p>
      </content>
      <updated>{{ post.data.lastUpdated | dateToRfc822 }}</updated>
      <id>{{ absolutePostUrl }}</id>
    </entry>
    {%- endfor %}
</feed>