---
layout: base.njk
title: Jak2k's Website
description: Jak2k's personal website & blog
---

<main id="content">
  <h1>Jak2k</h1>
  <p class="h-card">
    Hi, I'm <a
      itemprop="name"
      class="p-name u-url"
      href="https://jak2k.schwanenberg.name/"
      rel="me">Jakob</a
    >, a <span itemprop="jobTitle">frontend developer</span> who loves working with
    Vue, nuxtjs & astro. I used to work with <strong>React and NextJS</strong>,
    but I've since <strong>switched over to Vue, Astro &amp; NuxtJS</strong>.
    I'm from <span class="p-country-name">Germany</span> and currently a <strong
      >student</strong
    > and I use <strong>Fedora Linux</strong> as my main operating system. I also
    enjoy working with <strong>TypeScript</strong>.
  </p>

  <h2>Featured Posts</h2>
  <ul>
    {% for post in collections.post | reverse %}
      {% if post.data.featured %}
        <li>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</main>