/* limit content width to a comfortable reading width */
nav,
main,
aside,
footer {
  max-width: 65ch;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30vh;
}

.e-content {
  /* make longer text easier to read */
  line-height: calc(1ex / 0.32);
  text-align: left;
  text-underline-position: under;
  text-decoration-thickness: 2px;
}

strong {
  text-shadow: 0 0 0.5em blue;
}


/* Skip to content (inspired by: https://css-tricks.com/how-to-create-a-skip-to-content-link/) */
#skip-to-content {
  top: 0;
  left: 0;
  position: absolute;
  transform: translateY(-100%);
  transition: transform 0.3s;
  background-color: Canvas;
}

#skip-to-content:focus {
  transform: translateY(0%);
}

footer {
  text-align: center;
}

li {
  margin-bottom: 0.5rem;
}

.comment {
  margin-left: 1rem;
}

pre {
  padding: 1rem;
  overflow-x: scroll;
  text-wrap: stable;
}

a[data-green-link="true"] {
  text-decoration: underline solid 2px green;
}

a:hover {
  text-shadow: 0 0 0.5em LinkText;
  transition: text-shadow 0.3s;
}

body[data-rss=""] {
  width: max-content;
  margin: auto;
}

body[data-rss=""] > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  list-style-type: none;
  padding: 0;
}
